<h1>Comparison Details</h1>


<%= @comparison.item.bhsku %>
<img src="<%= @comparison.item.image %>" class="small_image alignmiddle"> 
<--> 
<img src="<%= @comparison.compared.image %>" class="small_image alignmiddle">
<%= @comparison.compared.bhsku %>

<div class="sleekFrame squish_width">
	<h3>quick comparison</h3>
	<% @comparison.get_bullets.each do |bullet| %>
		<%= render partial: 'bullets/bullet', locals: {:bullet => bullet} %>
	<% end %>

	<%= render partial: 'bullets/form', locals: {:target => @comparison} %>
</div>