<h1>Welcome <%= current_user.username %></h1>

<div class="sleekFrame">
	<%= form_for(current_user, url: '/username') do |f| %>
		<%= f.label :username %>
		<%= f.text_field :username %>

		<%= f.submit 'change username' %>
	<% end %>
</div>


<div class="sleekFrame">
	<h3>stats</h3>

	<table class="border collapsed padded">
		<tr>
			<th>bullet-points added</th>
			<th>questions answered</th>
		</tr>
		<tr>
			<td><%= @user_bullets.count %> <%= link_to 'view', 'stats/bullets' %></td>
			<td><%= @user_answers.count %> <%= link_to 'view', 'stats/answers' %></td>
		</tr>
	</table>
</div>