<div class="extended_item">
	<div class="inline_section">
		<img src="<%= item.image %>" alt="image not found/available" />
	</div>
	
	<div class="inline_section">
		<h3 class="brown_text">Quick Info</h3>
			<%= render partial: 'bullets/bullet', collection: item.bullets, as: :bullet %>
		
			<h4 class="brown_text">Add nugget here</h4>
			<%= render partial: 'bullets/form', locals: {:item => item} %>

		<hr><hr>
		<h3 class="green_text">Q&A</h3>
			<%= render partial: 'questions/questions', collection: item.questions, as: :question, locals: {:item => item} %>

			<h4 class="green_text">Add question here</h4>
			<%= render partial: 'questions/form', locals: {:item => item, :question => item.questions.build} %>
	</div>

	<div class="inline_section comparisons">
		<h3>Comparisons</h3>

		<% item.comparisons.each do |comparison| %>
			<p><%= comparison.compared.bhsku %></p>
		<% end %>
	</div>
</div>

	<!-- 
	bullets
	resources
	comparisons
	issues/recalls -->