<p>
	<h2>bh# <%= item.bhsku %></h2>
	<p>
		<b>mfr#</b> <%= item.mfrsku %>
		<br>
		<b>updated_at:</b> <%= item.updated_at %>  || <b>created at:</b> <%= item.created_at %>
		<br>
		<%= link_to 'Show', item_path(item) %> |
		<%= link_to 'Edit', edit_item_path(item) %>
	</p>
	
	<!-- 
	bullets
	resources
	comparisons
	issues/recalls -->

</p>
