<div class='basic_item'>
	<%= binding.pry if !item %>
	<h3><%= link_to "bh# #{item.bhsku}", correct_item_path(local_assigns) %></h3>
	<p>
		<span class="info_span"><b>mfr#</b> <%= item.mfrsku %></span>  
		<span class="info_span"><b>updated_at:</b> <%= item.updated_at %></span>  
		<span class="info_span"><b>created at:</b> <%= item.created_at %></span>
		<%= link_to 'edit item', edit_item_path(item) %>
	</p>

	<%= render partial: 'tags/tags', locals: {:taggable_item => item} %>
</div>



