<h1>Display Category</h1>
<h2><%= @category.name %></h2>

<%= render partial: 'category', locals: {:category => @category} %>

<div class="sleekFrame">
		<h3>Q&A</h3>
		<%= render partial: 'questions/questions', collection: @category.questions, as: :question %>
		
		<hr>
		<h4 class="green_text">Add question here</h4>
		<%= render partial: 'questions/form', locals: {:parent => @category, :question => @category.questions.build} %>
	</div>
</div>

<h2>Items</h2>
<div class="basic_only">
	<%= render partial: 'category_item_joins/categorized_item', collection: @category.categoryItems, as: :category_item %>
</div>

<h3>Add Item To <i><%= @category.name %></i> Category</h3>
<%= render partial: 'categories/category_item_form', locals: {:category => @category} %>

