<h1>Categories#show</h1>

<%= @category.inspect %>
<br>
<%= link_to 'Edit', edit_category_path(@category) %>

<h2>Items</h2>
<% @category.items.each do |item| %>
	<p>
		<%= item.inspect %>
		<%= link_to 'Edit', edit_item_path(item) %>
	</p>
<% end %>

<h3>add item</h3>
<%= form_for([@category, @category.build_item]) do |f| %>
	<%= render partial: 'items/form', locals: {:f => f} %>
<% end %>
